spring:
  config:
    activate:
      on-profile: prod

  application:
    name: security-service

  data:
    redis:
      host: redis-k8ssvc
      port: 6379
      database: 1 # 리프레시 토큰 캐시

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DATASOURCE-URL}
    username: ${DATASOURCE-USERNAME}
    password: ${DATASOURCE-PASSWORD}

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: update
      show_sql: true
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

management:
  endpoints:
    web:
      exposure:
        include: health

eureka:
  client:
    enabled: false

jwt:
  secret: ${JWT-SECRET}
