spring:
  config:
    activate:
      on-profile: prod

  application:
    name: apigateway-service

  data:
    redis:
      host: redis-k8ssvc
      port: 6379
      database: 0 # 제품 인증 정보 캐시

  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              "[/**]":
                allowedMethods: "*"
                allowedHeaders: "*"
                allowCredentials: true

          routes:
            # Swagger
            - id: security-service-swagger
              predicates:
                - Path=/api/v1/security/v3/api-docs/**, /api/v1/security/swagger-ui/**
              filters:
                - StripPrefix=3
              uri: http://security-k8ssvc
              order: 0

            - id: onboarding-service-swagger
              predicates:
                - Path=/api/v1/onboarding/v3/api-docs/**, /api/v1/onboarding/swagger-ui/**
              filters:
                - StripPrefix=3
              uri: http://onboarding-k8ssvc
              order: 0

            - id: totp-service-swagger
              predicates:
                - Path=/api/v1/totp/v3/api-docs/**, /api/v1/totp/swagger-ui/**
              filters:
                - StripPrefix=3
              uri: http://totp-k8ssvc
              order: 0

            # Service
            - id: security-service
              predicates:
                - Path=/api/v1/security/**
              filters:
                - StripPrefix=2
              uri: http://security-k8ssvc
              order: 1

            - id: onboarding-service
              predicates:
                - Path=/api/v1/onboarding/**
              filters:
                - StripPrefix=2
              uri: http://onboarding-k8ssvc
              order: 1

            - id: totp-service
              predicates:
                - Path=/api/v1/totp/**
              filters:
                - StripPrefix=2
              uri: http://totp-k8ssvc
              order: 1

management:
  endpoints:
    web:
      exposure:
        include: health

eureka:
  client:
    enabled: false

springdoc:
  swagger-ui:
    urls:
      - name: Security
        url: /api/v1/security/v3/api-docs
      - name: Onboarding
        url: /api/v1/onboarding/v3/api-docs
      - name: Totp
        url: /api/v1/totp/v3/api-docs
    use-root-path: true

jwt:
  secret: ${JWT-SECRET}
